<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="{{ asset('build/assets/js/image.js') }}"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" id="bootstrap-css">

<script>
    $(document).ready(function () {
        var table = new DataTable('#content-table', {
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/fr-FR.json',
            },
            columnDefs: {
                "targets": 'no-sort',
                "ordering": false,
            }
        });
    });
</script>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="navbar-brand" href="{{ path('admin') }}">
                        Administration
                    </a>
                {% endif %}

                <a class="navbar-brand" href="{{ path('app_content_index') }}">
                    Les contenus
                </a>
                <a class="navbar-brand" href="{{ path('app_content_new') }}">
                    Créer contenu
                </a>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('accueil') }}" target="_blank">Retourner sur le site</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}
<div class="container-fluid main-container">
    <table class="table" id="user-table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Rôles</th>
            <th class="no-sort">Date de création</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.roles|json_encode|raw }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_register') }}">Créer utilisateur</a>
</div>
{% endblock body %}