<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Escale Beauté - Votre institut de beauté à Roanne </title>
    <!-- favicons Icons -->
{#    src="{{ asset('build/assets/images/resources/logo-2.png') }}"#}
{#    <link rel="apple-touch-icon" sizes="57x57" href="../images/favicon/apple-icon-57x57.png">#}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/images/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/images/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/images/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/images/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/images/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/images/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/images/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/images/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/images/favicon/apple-icon-180x180.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/images/favicon/android-icon-192x192.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/images/favicon/favicon-32x32.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/images/favicon/favicon-96x96.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/images/favicon/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/assets/images/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Escale Beauté, Institut et Spa Roanne " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('build/assets/vendors/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/animate/animate.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/animate/custom-animate.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/fontawesome/css/all.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/jarallax/jarallax.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/nouislider/nouislider.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/nouislider/nouislider.pips.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/odometer/odometer.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/swiper/swiper.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/escale-beaute-icons/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/reey-font/stylesheet.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/owl-carousel/owl.carousel.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/owl-carousel/owl.theme.default.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/bxslider/jquery.bxslider.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/bootstrap-select/css/bootstrap-select.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/vegas/vegas.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/jquery-ui/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/timepicker/timePicker.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/vendors/twenty-twenty/twentytwenty.css') }}" />

    <!-- template styles -->
    <link rel="stylesheet" href="{{ asset('build/assets/css/escale-beaute.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/css/escale-beaute-responsive.css') }}" />
</head>

<body>



<div class="preloader">
    <div class="preloader__image"></div>
</div>
<!-- /.preloader -->

<div class="page-wrapper">
    <header class="main-header">
        <div class="main-header__top">
            <div class="main-header__top-wrapper">
                <div class="main-header__top-inner">
                    <div class="main-header__top-left">
                        <ul class="list-unstyled main-header__contact-list">

                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="text">
                                    <p><a href="sylvie.anselmini@laposte.net">sylvie.anselmini@laposte.net</a></p>
                                </div>
                            </li>
                            <!--
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="text">
                                    <p><a href="tel:0477725197">04 77 72 51 97</a></p>
                                </div>
                            </li>
                            -->
                            <li>
                                <div class="icon">
                                    <i class="fas fa-map"></i>
                                </div>
                                <div class="text">
                                    <p><a href="https://goo.gl/maps/WV8rCNWfTmod3mi37" target="_blank">16, rue Bourgneuf - 42300 Roanne</a></p>
                                </div>
                            </li>
                            <li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <div class="text">
                                    <p><a href="{{ path('app_logout') }}">Se déconnecter</a></p>
                                </div>
                            {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="main-header__top-right">
                        <div class="main-header__social">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="main-header__btn-box">
                            <a href="tel:0477725197" class="thm-btn main-header__btn">04 77 72 51 97</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="main-menu">
            <div class="main-menu__wrapper">
                <div class="main-menu__wrapper-inner">
                    <div class="main-menu__left">
                        <div class="main-menu__logo">
                            <a href="#"><img src="{{ asset('build/assets/images/resources/logo-2.png') }}" alt=""></a>
                        </div>
                    </div>
                    <div class="main-menu__main-menu-box">
                        <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                        <ul class="main-menu__list">
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">L'institut</a></li>
                            <li><a href="#">Beauté & Bien-être</a></li>
                            <li><a href="#">Nos Marques</a></li>
                            <li><a href="#">Chèques cadeaux</a></li>
                            <li><a href="#">Galerie</a></li>
                            <li><a href="#">Contact</a></li>

                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <li><a href="{{ path('admin') }}">Administration</a></li>
                                {% elseif is_granted('ROLE_ADMIN')%}
                                    <li><a href="{{ path('app_content_index') }}">Mes contenus</a></li>
                                {% endif %}
                            {% else %}
                                <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                            {% endif %}

                        </ul>
                    </div>
                    <div class="main-menu__right">
                        <div class="main-menu__search-cart-box">
                            <div class="main-menu__cart-box">
                                <a href="#" class="main-menu__cart icon-gift"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="stricky-header stricked-menu main-menu main-menu-two">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->


    {% if contentDiapo is null %}
    <!--Main Slider Start-->
    <section class="main-slider-two">
        <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
        "effect": "fade",
        "pagination": {
        "el": "#main-slider-pagination",
        "type": "bullets",
        "clickable": true
        },
        "navigation": {
        "nextEl": "#main-slider__swiper-button-next",
        "prevEl": "#main-slider__swiper-button-prev"
        },
        "autoplay": {
        "delay": 5000
        }}'>
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="image-layer-two"
{#                         style="background-image: url(../assets/images/backgrounds/main-slider-2-1.jpg);"></div>#}
                    style="background-image: url({{ asset('build/assets/images/backgrounds/main-slider-2-1.jpg') }});"></div>
                    <!-- /.image-layer -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider-two__content">
                                    <p class="main-slider-two__sub-title">Bienvenue</p>
                                    <h2 class="main-slider-two__title">Escale Beauté <br> Le temps s'arrête ...</h2>
                                    <div class="main-slider-two__btn-box">
                                        <a href="#" class="thm-btn main-slider-two__btn">Découvrir l'institut</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="image-layer-two"
                    style="background-image: url({{ asset('build/assets/images/backgrounds/main-slider-2-2.jpg') }});"></div>
                    <!-- /.image-layer -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider-two__content">
                                    <p class="main-slider-two__sub-title">Escale Beauté Roanne</p>
                                    <h2 class="main-slider-two__title">Faites une petite place  <br> Beauté dans votre vie</h2>
                                    <div class="main-slider-two__btn-box">
                                        <a href="#" class="thm-btn main-slider-two__btn">Découvrir l'institut</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="image-layer-two"
                         style="background-image: url({{ asset('build/assets/images/backgrounds/main-slider-2-3.jpg') }});"></div>
                    <!-- /.image-layer -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider-two__content">
                                    <p class="main-slider-two__sub-title">Institut & SPA</p>
                                    <h2 class="main-slider-two__title">Soins visage & corps, beauté des mains et des pieds</h2>
                                    <div class="main-slider-two__btn-box">
                                        <a href="#" class="thm-btn main-slider-two__btn">Découvrir l'institut</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="swiper-pagination" id="main-slider-pagination"></div>
            <!-- If we need navigation buttons -->


        </div>
    </section>
    <!--Main Slider End-->
    {% else %}

    <section class="main-slider-two">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
        "effect": "fade",
        "pagination": {
        "el": "#main-slider-pagination",
        "type": "bullets",
        "clickable": true
        },
        "navigation": {
        "nextEl": "#main-slider__swiper-button-next",
        "prevEl": "#main-slider__swiper-button-prev"
        },
        "autoplay": {
        "delay": 5000
        }}'>
            <div class="swiper-wrapper">

            {% for image in imagesDiapo %}
                <div class="swiper-slide">
                    <div class="image-layer-two" style="background-image: url({{ asset('build/assets/images/' ~  image.filename ) }});"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider-two__content">
                                    <p class="main-slider-two__sub-title">{{ contentDiapo.title }}</p>
                                    <h2 class="main-slider-two__title">{{ contentDiapo.description }}</h2>
                                    <div class="main-slider-two__btn-box">
                                        <a href="#" class="thm-btn main-slider-two__btn">Découvrir l'institut</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="swiper-pagination" id="main-slider-pagination"></div>
            </div>
    </section>
    {% endif %}

    <!--About One Start-->
    <section class="about-one">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="about-one__left">
                        <div class="about-one__img-box wow slideInLeft" data-wow-delay="100ms"
                             data-wow-duration="2500ms">
                            <div class="welcome-one__img">
{#                                <img src="../assets/images/resources/about-one-img-1.jpg" alt="">#}
                                <img src="{{ asset('build/assets/images/resources/about-one-img-1.jpg') }}" alt="">
                            </div>
                            <div class="welcome-one__shape-1 float-bob-y">
{#                                <img src="../assets/images/shapes/welcome-one-shape-1.png" alt="">#}
                                <img src="{{ asset('build/assets/images/shapes/welcome-one-shape-1.png') }}" alt="">
                            </div>
                            <div class="about-one__img-2">
{#                                <img src="../assets/images/resources/about-one-img-2.jpg" alt="">#}
                                <img src="{{ asset('build/assets/images/resources/about-one-img-2.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-one__right">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">L'Institut Escale Beauté</span>
                            <h2 class="section-title__title">Bienvenue au coeur du bien-être</h2>
                        </div>
                        <p class="about-one__text">Idéalement situé au cœur de Roanne, Escale Beauté est un lieu propice au calme et à la détente. Cet endroit vous invite à un voyage où le temps s'arrête ...</p>
                        <ul class="list-unstyled about-one__points">
                            <li>
                                <h4> <span class="fa fa-check"></span>Votre Institut</h4>
                                <p>Deux salles de soins, un hammam traditionnel, une tisanerie et un espace de relaxation propice à un soin ...</p>
                            </li>
                            <li>
                                <h4> <span class="fa fa-check"></span> Votre SPA</h4>
                                <p>Venez profiter de ce Spa de 100m2 résolument moderne et laissez-vous aller à des instants de bien-être ...</p>
                            </li>
                        </ul>
                        <div class="about-one__btn-call-box">
                            <a href="#" class="about-one__btn thm-btn">Découvrir nos soins</a>
                            <div class="about-one__call-box">
                                <div class="about-one__call-icon">
                                    <span class="icon-telephone"></span>
                                </div>
                                <div class="about-one__call-content">
                                    <p class="about-one__call-sub-title">Contactez-nous</p>
                                    <h4 class="about-one__call-number"><a href="tel:0477725197">04 77 72 51 97</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About One End-->

    <!--Feature One Start-->
    <section class="feature-one">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <div class="feature-one__single-one">
                        <div class="feature-one__single-one-img">
{#                            <img src="../assets/images/resources/feature-one-single-one-img-1.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/resources/feature-one-single-one-img-1.jpg') }}" alt="">
                            <div class="feature-one__single-one-content">

                                <a href="#" class="thm-btn feature-one__btn">Voir nos soins</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                    <div class="feature-one__single-two">
                        <h3 class="feature-one__single-two-title">Jours D'ouverture</h3>
                        <ul class="feature-one__single-two-points list-unstyled">
                            <li>
                                <div class="day">
                                    <p>Lundi</p>
                                </div>
                                <div class="time">
                                    <span>9h00 - 19h00</span>
                                </div>
                            </li>
                            <li>
                                <div class="day">
                                    <p>Mardi</p>
                                </div>
                                <div class="time">
                                    <span>9h00 - 19h00</span>
                                </div>
                            </li>
                            <li>
                                <div class="day">
                                    <p>Mercredi</p>
                                </div>
                                <div class="time">
                                    <span>9h00 - 19h00</span>
                                </div>
                            </li>
                            <li>
                                <div class="day">
                                    <p>Jeudi</p>
                                </div>
                                <div class="time">
                                    <span>9h00 - 19h00</span>
                                </div>
                            </li>
                            <li>
                                <div class="day">
                                    <p>Vendredi</p>
                                </div>
                                <div class="time">
                                    <span>9h00 - 19h00</span>
                                </div>
                            </li>
                            <li>
                                <div class="day">
                                    <p>Samedi</p>
                                </div>
                                <div class="time">
                                    <span>9h00 – 16h00</span>
                                </div>
                            </li>
                            <li>
                                <div class="day">
                                    <p>Dimanche</p>
                                </div>
                                <div class="time">
                                    <span>Fermé</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                    <div class="feature-one__single-three">
                        <div class="feature-one__single-three-img">
{#                            <img src="../assets/images/resources/feature-one-single-three-img-1.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/resources/feature-one-single-three-img-1.jpg') }}" alt="">
                            <div class="feature-one__single-three-content">

                                <a href="#" class="thm-btn feature-one__btn">Découvrir nos marques</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Feature One End-->

    <!--Blog Two Start-->
    <section class="blog-two">
{#        <div class="blog-two__bg" style="background-image: url(../assets/images/backgrounds/blog-two-bg.jpg);"></div>#}
        <div class="blog-two__bg" style="background-image: url({{ asset('build/assets/images/backgrounds/blog-two-bg.jpg') }});"></div>
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline">Escale Beauté</span>
                <h2 class="section-title__title">Nos soins beauté & Bien-être</h2>
            </div>
            <div class="row">
                <!--Blog One Single Start-->
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <div class="blog-one__single">
                        <div class="blog-one__img">
{#                            <img src="../assets/images/blog/blog-1-1.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/blog/blog-1-1.jpg') }}" alt="">
                        </div>
                        <div class="blog-one__content">
                            <div class="blog-one__date">
{#                                <img src="../assets/images/picto-1.png">#}
                                <img src="{{ asset('build/assets/images/picto-1.png') }}" alt="">
                            </div>

                            <h3 class="blog-one__title"><a href="#">Soin Visage & corps</a></h3>
                            <p class="blog-one__text">Lorem ipsum dolor sit amet, coned sectetur notted elit do, coned sectetur notted elit do.</p>
                            <div class="blog-one__read-more">
                                <a href="#">Téléchargez notre carte <span class="icon-right-arrow"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Blog One Single End-->
                <!--Blog One Single Start-->
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <div class="blog-one__single">
                        <div class="blog-one__img">
{#                            <img src="../assets/images/blog/blog-1-2.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/blog/blog-1-2.jpg') }}" alt="">
                        </div>
                        <div class="blog-one__content">
                            <div class="blog-one__date">
{#                                <img src="../assets/images/picto-2.png">#}
                                <img src="{{ asset('build/assets/images/picto-2.png') }}" alt="">
                            </div>

                            <h3 class="blog-one__title"><a href="#">Soin Enfants</a></h3>
                            <p class="blog-one__text">Lorem ipsum dolor sit amet, coned sectetur notted elit do, coned sectetur notted elit do.</p>
                            <div class="blog-one__read-more">
                                <a href="#">Téléchargez notre carte <span class="icon-right-arrow"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Blog One Single End-->
                <!--Blog One Single Start-->
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <div class="blog-one__single">
                        <div class="blog-one__img">
{#                            <img src="../assets/images/blog/blog-1-3.jpg" alt="">#}
                             <img src="{{ asset('build/assets/images/blog/blog-1-3.jpg') }}" alt="">
                        </div>
                        <div class="blog-one__content">
                            <div class="blog-one__date">
{#                                <img src="../assets/images/picto-3.png">#}
                                <img src="{{ asset('build/assets/images/picto-3.png') }}" alt="">
                            </div>

                            <h3 class="blog-one__title"><a href="#">Beauté mains & pieds</a></h3>
                            <p class="blog-one__text">Lorem ipsum dolor sit amet, coned sectetur notted elit do, coned sectetur notted elit do.</p>
                            <div class="blog-one__read-more">
                                <a href="#">Téléchargez notre carte <span class="icon-right-arrow"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Blog One Single End-->
            </div>
        </div>
    </section>
    <!--Blog Two End-->

    <!--Video One Start-->
    <section class="video-one">
        <div class="video-one__bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
{#             style="background-image: url(../assets/images/backgrounds/video-one-bg.jpg);"></div>#}
             style="background-image: url({{ asset('build/assets/images/backgrounds/video-one-bg.jpg') }});"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="video-one__left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Tous nos soins</span>
                            <h2 class="section-title__title">Téléchargez notre carte complète de nos soins</h2>
                        </div>
                        <div class="video-one__video-link">
                            <a href="#">
                                <div class="video-one__video-icon">
                                    <span class="fa fa-angle-up"></span>
                                    <i class="ripple"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="video-one__right">
                        <ul class="video-one__points list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <p class="text">Soins Visage & Corps</p>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <p class="text">Soins enfants</p>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <p class="text">Beauté mains & pieds</p>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <p class="text">Maquillage</p>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <p class="text">Onglerie</p>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <p class="text">Épilation</p>
                            </li>
                        </ul>
                        <ul class="video-one__points video-one__points-2 list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <p class="text">Sauna</p>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <p class="text">Hydro Therapy</p>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <p class="text">Hammam</p>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <p class="text">Signature</p>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <p class="text">test de texte</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Video One End-->


    {% if imagesMarques is null %}
    <!--Team One Start-->
    <section class="team-one">
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline">Escale Beauté</span>
                <h2 class="section-title__title">Nos marques références</h2>
            </div>
            <div class="row">
                <!--Team One Single Start-->
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <div class="team-one__single">
                        <div class="team-one__img">
{#                            <img src="../assets/images/team/team-1-1.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/team/team-1-1.jpg') }}" alt="">

                        </div>
                        <div class="team-one__content">
                            <h3 class="team-one__name"><a href="#">TooFruit</a></h3>
                            <p class="team-one__sub-title">Le soin pour les enfants</p>
                        </div>
                    </div>
                </div>
                <!--Team One Single End-->
                <!--Team One Single Start-->
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <div class="team-one__single">
                        <div class="team-one__img">
{#                            <img src="../assets/images/team/team-1-2.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/team/team-1-2.jpg') }}" alt="">

                        </div>
                        <div class="team-one__content">
                            <h3 class="team-one__name"><a href="#">CinqMondes</a></h3>
                            <p class="team-one__sub-title">La Cosmétique au Naturel</p>
                        </div>
                    </div>
                </div>
                <!--Team One Single End-->
                <!--Team One Single Start-->
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <div class="team-one__single">
                        <div class="team-one__img">
{#                            <img src="../assets/images/team/team-1-3.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/team/team-1-3.jpg') }}" alt="">

                        </div>
                        <div class="team-one__content">
                            <h3 class="team-one__name"><a href="#">Sothys</a></h3>
                            <p class="team-one__sub-title">La beauté haut de gamme</p>
                        </div>
                    </div>
                </div>
                <!--Team One Single End-->
            </div>
        </div>
    </section>
    <!--Team One End-->
    {% else %}
        <section class="team-one">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Escale Beauté</span>
                    <h2 class="section-title__title">Nos marques références</h2>
                </div>
                <div class="row">
                    {% for imageMarque in imagesMarques %}
                        <!--Team One Single Start-->
                        <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                            <div class="team-one__single">
                                <div class="team-one__img"><img src="{{ asset('build/assets/images/' ~  imageMarque.filename ) }}" alt=""> </div>#}
                                <div class="team-one__content">
                                    <h3 class="team-one__name"><a href="#">{{ contentMarques.title }}</a></h3>
                                    <p class="team-one__sub-title">{{ contentMarques.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!--Team One Single End-->
                </div>
            </div>
        </section>
    {% endif %}




    <!--CTA One Start-->
    <section class="cta-one">
        <div class="cta-one__img">
{#            <img src="../assets/images/resources/cta-one-img.jpg" alt="">#}
            <img src="{{ asset('build/assets/images/resources/cta-one-img.jpg') }}" alt="">
        </div>
        <div class="cta-one__shape-1 float-bob-y">
{#            <img src="../assets/images/shapes/cta-one-shape-1.png" alt="">#}
            <img src="{{ asset('build/assets/images/shapes/cta-one-shape-1.png') }}" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    <div class="cta-one__left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Escale Beauté</span>
                            <h2 class="section-title__title">Besoin de vous détendre ?</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="cta-one__right">
                        <div class="cta-one__btn-box">
                            <a href="#" class="cta-one__btn thm-btn">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CTA One End-->

    <!--Spa Special Start-->
    <section class="spa-special">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="spa-special__left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Offrez un moment de détente</span>
                            <h2 class="section-title__title">Chèques cadeaux</h2>
                        </div>
                        <p class="spa-special__text">Offrez de la détente à votre proche et laissez lui choisir son moment (visage, corps ou les deux). Nous vous proposons des soins sur mesure de 30 à 120 minites de bonheur ...</p>
                        <div class="spa-special__massage-box">
                            <h3>Nos Idées Cadeaux</h3>
                            <p>30 Minutes : 40 € // 60 Minutes : 69 €</p>
                            <p>90 Minutes : 99 € // 120 Minutes : 129 €</p>
                        </div>
                        <div class="spa-special__btn-box">
                            <a href="#" class="spa-special__btn thm-btn">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="spa-special__right">
                        <div class="spa-special__img-box">
                            <div class="spa-special__shape-1 float-bob-x">
{#                                <img src="../assets/images/shapes/spa-special-shape-1.png" alt="">#}
                                <img src="{{ asset('build/assets/images/shapes/spa-special-shape-1.png') }}" alt="">
                            </div>
                            <div class="spa-special__img">
{#                                <img src="../assets/images/resources/spa-special-img-1.jpg" alt="">#}
                                <img src="{{ asset('build/assets/images/resources/spa-special-img-1.jpg') }}" alt="">
                            </div>
                            <div class="spa-special__offer">
{#                                <h3><img src="../assets/images/resources/logo-2.png"></h3>#}
                                <img src="{{ asset('build/assets/images/resources/logo-2.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Spa Special End-->

    <!--Gallery Page Start-->
    <section class="gallery-page">
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline">Escale Beauté</span>
                <h2 class="section-title__title">En images ...</h2>
            </div>
            <div class="row masonary-layout">
                <!--Gallery Page Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="gallery-page__single">
                        <div class="gallery-page__img">
{#                            <img src="../assets/images/gallery/gallery-page-1-1.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/gallery/gallery-page-1-1.jpg') }}" alt="">
                            <div class="gallery-page__icon">
{#                                <a class="img-popup" href="../assets/images/gallery/gallery-page-1-1.jpg"><span#}
{#                                            class="fa fa-plus"></span></a>#}
                                <a class="img-popup" href="{{ asset('build/assets/images/gallery/gallery-page-1-1.jpg') }}"><span
                                            class="fa fa-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Page Single End-->
                <!--Gallery Page Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="gallery-page__single">
                        <div class="gallery-page__img">
{#                            <img src="../assets/images/gallery/gallery-page-1-2.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/gallery/gallery-page-1-2.jpg') }}" alt="">
                            <div class="gallery-page__icon">
                                <a class="img-popup" href="{{ asset('build/assets/images/gallery/gallery-page-1-2.jpg') }}"><span
                                            class="fa fa-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Page Single End-->
                <!--Gallery Page Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="gallery-page__single">
                        <div class="gallery-page__img">
{#                            <img src="../assets/images/gallery/gallery-page-1-3.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/gallery/gallery-page-1-3.jpg') }}" alt="">
                            <div class="gallery-page__icon">
                                <a class="img-popup" href="{{ asset('build/assets/images/gallery/gallery-page-1-3.jpg') }}"><span
                                            class="fa fa-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Page Single End-->
                <!--Gallery Page Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="gallery-page__single">
                        <div class="gallery-page__img">
{#                            <img src="../assets/images/gallery/gallery-page-1-4.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/gallery/gallery-page-1-4.jpg') }}" alt="">
                            <div class="gallery-page__icon">
                                <a class="img-popup" href="{{ asset('build/assets/images/gallery/gallery-page-1-4.jpg') }}"><span
                                            class="fa fa-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Page Single End-->
                <!--Gallery Page Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="gallery-page__single">
                        <div class="gallery-page__img">
{#                            <img src="../assets/images/gallery/gallery-page-1-5.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/gallery/gallery-page-1-5.jpg') }}" alt="">
                            <div class="gallery-page__icon">
                                <a class="img-popup" href="{{ asset('build/assets/images/gallery/gallery-page-1-5.jpg') }}"><span
                                            class="fa fa-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Page Single End-->
                <!--Gallery Page Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="gallery-page__single">
                        <div class="gallery-page__img">
{#                            <img src="../assets/images/gallery/gallery-page-1-6.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/gallery/gallery-page-1-6.jpg') }}" alt="">
                            <div class="gallery-page__icon">
                                <a class="img-popup" href="{{ asset('build/assets/images/gallery/gallery-page-1-6.jpg') }}"><span
                                            class="fa fa-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Page Single End-->
                <!--Gallery Page Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="gallery-page__single">
                        <div class="gallery-page__img">
{#                            <img src="../assets/images/gallery/gallery-page-1-7.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/gallery/gallery-page-1-7.jpg') }}" alt="">
                            <div class="gallery-page__icon">
                                <a class="img-popup" href="{{ asset('build/assets/images/gallery/gallery-page-1-7.jpg') }}"><span
                                            class="fa fa-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Page Single End-->
                <!--Gallery Page Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="gallery-page__single">
                        <div class="gallery-page__img">
{#                            <img src="../assets/images/gallery/gallery-page-1-10.jpg" alt="">#}
                            <img src="{{ asset('build/assets/images/gallery/gallery-page-1-10.jpg') }}" alt="">
                            <div class="gallery-page__icon">
                                <a class="img-popup" href="{{ asset('build/assets/images/gallery/gallery-page-1-10.jpg') }}"><span
                                            class="fa fa-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Page Single End-->
                <!--Gallery Page Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="gallery-page__single">
                        <div class="gallery-page__img">
                            <img src="{{ asset('build/assets/images/gallery/gallery-page-1-8.jpg') }}" alt="">
                            <div class="gallery-page__icon">
                                <a class="img-popup" href="{{ asset('build/assets/images/gallery/gallery-page-1-8.jpg') }}"><span
                                            class="fa fa-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Page Single End-->
                <!--Gallery Page Single Start-->
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="gallery-page__single">
                        <div class="gallery-page__img">
                            <img src="{{ asset('build/assets/images/gallery/gallery-page-1-9.jpg') }}" alt="">
                            <div class="gallery-page__icon">
                                <a class="img-popup" href="{{ asset('build/assets/images/gallery/gallery-page-1-9.jpg') }}"><span
                                            class="fa fa-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Gallery Page Single End-->
            </div>
        </div>
    </section>
    <!--Gallery Page End-->

    <!--Contact Page Start-->
    <section class="contact-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5">
                    <div class="contact-page__left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Contact</span>
                            <h2 class="section-title__title">Escale Beauté</h2>
                        </div>
                        <p class="contact-page__text">Interessé par nos services ? Vivez une expèrience mémorable ...</p>
                        <p><strong>Escale Beauté</strong><br>
                            16, rue Bourgneuf - 42300 Roanne<br>
                            04 77 72 51 97</p>
                        <div class="contact-page__social">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="contact-page__right">
                        <div class="contact-page__content">
                            <form action="../assets/inc/sendemail.php"
                                  class="contact-page__form contact-form-validated" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="contact-page__form-input-box">
                                            <input type="text" placeholder="Nom" name="name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="contact-page__form-input-box">
                                            <input type="email" placeholder="Email" name="email">
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="contact-page__form-input-box">
                                            <input type="text" placeholder="Téléphone" name="Phone">
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="contact-page__form-input-box">
                                            <input type="text" placeholder="Sujet" name="Subject">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="contact-page__form-input-box text-message-box">
                                        <textarea name="message" placeholder="Votre Message"></textarea>
                                    </div>
                                    <div class="contact-page__btn-box">
                                        <button type="submit" class="thm-btn contact-page__btn">Envoyer</button>
                                    </div>
                                </div>
                            </form>
                            <div class="result"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Contact Page End-->


    <!--Site Footer Start-->
    <footer class="site-footer">
        <div class="site-footer__shape-1 float-bob-x">
{#            <img src="../assets/images/shapes/site-footer-shape-1.png" alt="">#}
            <img src="{{ asset('build/assets/images/shapes/site-footer-shape-1.png') }}" alt="">
        </div>
        <div class="site-footer__shape-2 float-bob-y">
{#            <img src="../assets/images/shapes/site-footer-shape-2.png" alt="">#}
            <img src="{{ asset('build/assets/images/shapes/site-footer-shape-2.png') }}" alt="">
        </div>
        <div class="container">
            <div class="site-footer__top">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="footer-widget__column footer-widget__contact-box">
                            <div class="footer-widget__contact">
                                <a href="mailto:sylvie.anselmini@laposte.net">sylvie.anselmini@laposte.net</a>
                                <a href="tel:0477725197">04 77 72 51 97</a>
                            </div>
                            <div class="footer-widget__contact-form-box">
                                <form class="footer-widget__contact-form mc-form" data-url="MC_FORM_URL"
                                      novalidate="novalidate">
                                    <div class="footer-widget__contact-form-input-box">
                                        <input type="email" placeholder="Email ou portable" name="EMAIL">
{#                                        <button type="submit" class="footer-widget__newsletter-btn"><img#}
{#                                                    src="../assets/images/icon/paper-plan-icon.png" alt=""></button>#}
                                        <button type="submit" class="footer-widget__newsletter-btn"><img
                                                    src="{{ asset('build/assets/images/icon/paper-plan-icon.png') }}" alt=""></button>
                                    </div>
                                </form>
                                <div class="mc-form__response"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="footer-widget__column footer-widget__links">
                            <div class="footer-widget__title-box">
                                <h4 class="footer-widget__title">Navigation</h4>
                            </div>
                            <ul class="footer-widget__links-list list-unstyled">
                                <li><a href="#">L'institut</a></li>
                                <li><a href="#">Les soins</a></li>
                                <li><a href="#">Nos marques</a></li>
                                <li><a href="#">Cadeaux</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="footer-widget__column footer-widget__timing">
                            <div class="footer-widget__title-box">
                                <h4 class="footer-widget__title">Jours d'ouverture</h4>
                            </div>
                            <ul class="footer-widget__timing-list list-unstyled">
                                <li>Du Lun au Ven : 9h00 à 19h00</li>
                                <li>Sam : 9h00 à 16h00</li>
                                <li>Dim : Fermé</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="footer-widget__column footer-widget__social-box">
                            <div class="site-footer__social">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                            <p>16, rue Bourgneuf <br> 42300 Roanne</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="site-footer__bottom-inner">
                            <p class="site-footer__bottom-text">© Copyright 2023 <a href="#">Escale Beauté</a> création you'Nivers, <a href="https://www.younivers.fr" target="_blank" title="création de site Internet à Roanne">création de site Internet à Roanne</a></p>
                            <ul class="list-unstyled site-footer__bottom-menu">
                                <li><a href="#">Mentions légales</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Site Footer End-->


</div><!-- /.page-wrapper -->


<div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <!-- /.mobile-nav__overlay -->
    <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

        <div class="logo-box">
            <a href="#" aria-label="logo image">
{#                <img src="../assets/images/resources/logo-2.png" width="90" alt="" /></a>#}
                <img src="{{ asset('build/assets/images/resources/logo-2.png') }}" alt=""></a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="fa fa-envelope"></i>
                <a href="mailto:sylvie.anselmini@laposte.net">sylvie.anselmini@laposte.net</a>
            </li>
            <li>
                <i class="fa fa-phone-alt"></i>
                <a href="tel:0477725197">04 77 72 51 97</a>
            </li>
        </ul><!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
            <div class="mobile-nav__social">
                <a href="#" class="fab fa-facebook-square"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div><!-- /.mobile-nav__social -->
        </div><!-- /.mobile-nav__top -->



    </div>
    <!-- /.mobile-nav__content -->
</div>
<!-- /.mobile-nav__wrapper -->


<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


{#<script src="../assets/vendors/jquery/jquery-3.6.0.min.js"></script>#}
<script src="{{ asset('build/assets/vendors/jquery/jquery-3.6.0.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/jarallax/jarallax.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/jquery-appear/jquery.appear.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/jquery-validate/jquery.validate.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/nouislider/nouislider.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/odometer/odometer.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/swiper/swiper.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/tiny-slider/tiny-slider.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/wnumb/wNumb.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/wow/wow.js') }}"></script>
<script src="{{ asset('build/assets/vendors/isotope/isotope.js') }}"></script>
<script src="{{ asset('build/assets/vendors/countdown/countdown.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/owl-carousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/bxslider/jquery.bxslider.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/vegas/vegas.min.js') }}"></script>
<script src="{{ asset('build/assets/vendors/jquery-ui/jquery-ui.js') }}"></script>
<script src="{{ asset('build/assets/vendors/timepicker/timePicker.js') }}"></script>
<script src="{{ asset('build/assets/vendors/circleType/jquery.circleType.js') }}"></script>
<script src="{{ asset('build/assets/vendors/sidebar-content/jquery-sidebar-content.js') }}"></script>
<script src="{{ asset('build/assets/vendors/twenty-twenty/twentytwenty.js') }}"></script>
<script src="{{ asset('build/assets/vendors/twenty-twenty/jquery.event.move.js') }}"></script>


<!-- template js -->
{#<script src="../assets/js/escale-beaute.js"></script>#}
<script src="{{ asset('build/assets/js/escale-beaute.js') }}"></script>
</body>

</html>